/*
*{
    margin: ;
    padding: ;
}

#nav-item{
    font: bold;
    color: aliceblue;
}

.navbar{
    width: 100%;
} */

@media all and (max-width:576px){
    .slider-responsive{
        height: 250px;
        object-fit: cover;
    } 

    .centrar{
        text-align: center;

    }
}